.modal_wrapper{
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(166, 103, 224, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 400px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 30px;
    max-height: 80vh;
    position: relative;
}
.modal_close{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal_close :hover{
    color: brown;
}
.modal_content{
    display: grid;
    gap: 10px;
}
.modal_content>label{
    display: grid;
    gap: 5px;
}