body {
  margin: 0;
  font-family: sans-serif;
  background-color: blueviolet;
}
#root{
  
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.cart{
  color: blue;
  font-size: 30px;
  margin: 10px;
  background-color: rgb(236, 216, 190);
  width: max-content;
  padding: 20px;
  border-radius: 20px;
  font-weight: 700;
  display: flex;
  gap: 10px;
}


